.DS_Store

# Editors and IDEs
.idea/
.vscode/

# Dependencies
node_modules/

# Build output
dist/
build/
target/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
